@use '../base/root' as *;
@use '../abstracts/mixins' as *;

.header-primary {
  color: var(--ntr-dark-blue);
}
.header-secondary {
  color: var(--white);
}
.text-primary {
  color: var(--ntr-dark-violet);
  font-weight: 300;
}
h3 {
  // font-size: 24px;
}
p {
  // font-family: 'Josefin Sans', sans-serif;
  // color: #828281;
  // font-size: 22px;
}
