@use '../base/root' as *;
@use '../abstracts/mixins' as *;

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  @include mq(md) {
    width: 85%;
  }
}
section {
  display: block;
}
.container-fluid {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

.text-muted {
  color: #777;
}

.text-left {
  text-align: left;
}

.w-40 {
  max-width: 50%;
}

@include mq(lg) {
  .w-40-lg {
    max-width: 50%;
  }
}
.text-sm {
  font-size: 1.125rem;
}
.text-white {
  color: var(--white);
}
.pt-5 {
  padding-top: 4rem;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hidden-xs {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.flex {
  display: flex;
  // outline: 1px solid olivedrab;
  justify-content: space-between;
}

.mt-3 {
  margin-top: 3rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.left-space-sm {
  margin-right: 10px;
}
.m-auto {
  margin: 0 auto;
}
.checkbox {
  position: relative;
  display: block;
  margin-block: 10px;
}
.primary-color {
  color: var(--color-gold);
}
