@use '../base/root' as *;
@use '../abstracts/mixins' as *;

.shortener {
  padding: min(1.5rem, 2.25rem);
  background: var(--ntr-dark-blue) url(../../images/bg-shorten-mobile.svg)
    no-repeat;
  background-size: cover;
  display: grid;
  grid-gap: 20px;
  border-radius: 9px;
  margin-top: 3rem;
  position: relative;
  outline: none;
  @include mq(lg) {
    grid-template-columns: 2fr 200px;
    place-items: center;
    background: var(--ntr-dark-blue) url(../../images/bg-shorten-desktop.svg)
      no-repeat;
    background-size: cover;
  }

  @include mq(laptop) {
    padding: 3rem 2rem;
  }

  &-input {
    padding: 0.75em 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    place-self: center;
    @include mq(laptop) {
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: var(--ntr-dark-blue);
      opacity: 1;
      font-size: 1rem;
    }
  }

  .error-message {
    display: none;
    place-self: start;
    font-style: oblique;
    position: relative;
    outline: none;
  }
}

.shortener-input:invalid[focused='true'] {
  border: 2px solid var(--red-secondary);
}

.shortener-input:invalid[focused='true'] ~ .error-message {
  display: block;
}
.shortener-input:invalid[focused='true'] {
  &::-moz-placeholder {
    color: var(--red-secondary);
  }
}
